@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
	box-sizing: border-box;
}
body, html {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
form{
	background: #F7F5F9;
	border-radius: 12px;
	width: 481px;
	height: 392px;
	background: #F7F5F9;
	margin: 31px auto;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.07), 9px 10px 10px rgba(0, 0, 0, 0.1);
}
.container{
	padding: 0 40px;
	}
.form__title{
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	padding-top: 40px;
	color: #3B3D43;
}
input{
	background: #FFFFFF;
	border: none;
	padding-left: 15px;
}
::placeholder{
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #D0C9D6;
}
input:focus{
	outline: 0;
    outline-offset: 0;
	border: 1px solid #854FC8;
}
input:hover{
	border: 1px solid #854FC8;
	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}
button{
	background: #6979F8;
	border: none;
	text-align: center;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.form__button, .form__input{
	width: 100%;
	height: 48px;
	border-radius: 6px;
	margin: 25px auto 0;
	font-weight: 400;
	font-size: 17px;
	line-height: 22px;
}
#result_form{
	text-align: center;
	font-size: 18px;
}
